<nav id="sidebar">

  <div class="sidebar-header">
      <h3>MENU</h3>
  </div>

  <ul class="list-unstyled components">
    <li class="active">
        <a routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li>
        <a routerLink="/content" routerLinkActive="active">Workspace</a>
    </li>
    <li>
        <a routerLink="/playground" routerLinkActive="active">Playground</a>
    </li>
    <li class="active">
        <a routerLink="/chart" routerLinkActive="active">Chart</a>
    </li>
    <li>
        <a routerLink="/gallery" routerLinkActive="active">Gallery</a>
    </li>      
  </ul>
</nav>